body {
	margin: 0px;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

#description {
	width: 65%;
	color: black;
	align-self: center;
	font-size: calc(1vw + 5px);
	font-family: 'Noto Sans', sans-serif;
}

#me {
	width: calc(42px + 15vw);
	height: calc(42px + 15vw);
	border-radius: 50%;
	background-color: black;
	margin: 2.89vw;
	align-self: center;
}

#me-img {
	height: calc(42px + 14vw);
	width: calc(42px + 14vw);
	border-width: inherit;
	border-radius: inherit;
	margin: 0.5vw;
}

.about {
	/*height: calc(229px + 11vw);*/
	background-color: #f0f0f0;
	margin: 5vw;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	align-content: center;
	justify-content: center;
}

.about-container {
}

.header {
	position: relative;
	width: 100%;
	height: calc(45px + 10vw);
	background-color: #f0f0f0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Noto Sans', sans-serif;
	justify-content: space-around;
}

.header h1 {
	font-size: calc(12px + 2vw);
	margin: 0; 
	font-weight: 1000;
	letter-spacing: 0.06em;
}

.header a {
	align-self: center;
	text-align: center;
}

.name {
}

.portfolio-header {
}